# Note: AMD requirements might be outdated. If you can provide information about running OneTrainer on AMD,
# please open an issue or pull request on github

# pytorch
--extra-index-url https://rocm.nightlies.amd.com/whl-multi-arch/
torch
torchvision
onnxruntime
amd-torch-device-gfx1150
amd-torchvision-device-gfx1150
rocm
rocm-sdk-core
rocm-sdk-devel
rocm-sdk-device-gfx1150
rocm-sdk-libraries
triton-windows

# optimizers
# TODO
