# base requirements
numpy
opencv-python
pillow
imagesize
tqdm
PyYAML
huggingface-hub
scipy
matplotlib
av
yt-dlp  #no pinned version, frequently updated for compatibility with sites
scenedetect
parse
setuptools

# pytorch
accelerate
safetensors
tensorboard

# diffusion models
diffusers
gguf
transformers
sentencepiece
omegaconf
invisible-watermark

# other models
pooch
open-clip-torch

# data loader
# mgds

# optimizers
dadaptation
lion-pytorch
prodigyopt
schedulefree
pytorch_optimizer
prodigy-plus-schedule-free
adv_optm
muon-optimizer

# Profiling
scalene

# ui
customtkinter

# cloud
runpod
fabric

# debug
psutil
requests
deepdiff
